.input{
  width: 60%;
}
.row{
  margin: auto;
 
}
.contender{
  background-color: rgba(15, 15, 15, 0.918);
}
.btn-adicionar{
  margin-top: 30px;
}
.search input{
  position: inherit;
}
.search{
  position: inherit;
}